	
	<!-- Side Full -->
	<div class="side-full">
		
		<!-- More Products -->
		<div class="more-products">
			<div class="more-products-holder">
				<ul>
				   	<li><%= link_to image_tag("small1.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small2.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small3.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small4.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small5.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small6.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small7.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small1.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small2.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small3.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small4.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small5.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small6.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small7.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small1.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small2.jpg"), '#' %></li>
				 	<li><%= link_to image_tag("small3.jpg"), '#' %></li>
				</ul>
			</div>
			<div class="more-nav">
				<a href="#" class="prev">previous</a>
				<a href="#" class="next">next</a>
			</div>
		</div>
		<!-- End More Products -->	
	</div>
	<!-- End Side Full -->
	